Beaker==1.6.4
Chameleon==2.16
FormEncode==1.2.6
MarkupSafe==0.23
Paste==1.7.5.1
PasteDeploy==1.5.2
PasteScript==1.7.5
Pygments==1.6
Pylons==1.0.1
Routes==2.0
SQLAlchemy==0.9.7
Tempita==0.5.2
WTForms==2.0.1
WebError==0.10.3
WebHelpers==1.3
WebOb==1.4
WebTest==2.0.16
argparse==1.2.1
beautifulsoup4==4.3.2
decorator==3.4.0
-e git+https://github.com/RecNes/file2mail.git@154e296ea443714f64fa685bc91e5185d09622c6#egg=file2mail-master
nose==1.3.4
peewee==2.3.2
pylons-debugtoolbar==0.1.3
pyramid==1.5.1
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.2
pyramid-tm==0.7
pyramid-wtforms==2.0.1
repoze.lru==0.6
simplejson==3.6.3
six==1.8.0
transaction==1.4.3
translationstring==1.1
venusian==1.0
waitress==0.8.9
wsgiref==0.1.2
zope.deprecation==4.1.1
zope.interface==4.1.1
zope.sqlalchemy==0.7.5
